<VirtualHost *:80>
    ServerAdmin webmaster@localhost
    DocumentRoot /var/www/src

    <Directory /var/www/src>
        Options Indexes FollowSymLinks
        AllowOverride None
        Require all granted
    </Directory>

    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>
